@model PayrollBureau.Models.EmployeeViewModel
@{

    bool isEdit = (string)ViewData["mode"] == "edit";
}
<div class="row ">
    @if (ViewContext.ViewData.ModelState.Any(x => x.Key == ""))
    {
        <div class="form-group">
            <div class="row xs-mt-20">
                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <div class="validation-summary-errors row alert alert-danger" data-valmsg-summary="false">
                        <ul class="errors">
                            @Html.ValidationSummary(false, null, new { @class = "" })
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }

    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Employer Name", new { @class = "col-md-4 control-label" })
        <div class="col-xs-4 col-sm-4">
            <span class="form-control">@Model.EmployerName</span>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Name", new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Employee.Name, new { @class = "form-control", @rows = 3 })
            @Html.ValidationMessageFor(m => m.Employee.Name, "", new { @class = "help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Product Name", new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Employee.ProductName, new { @class = "form-control", @rows = 3 })
            @Html.ValidationMessageFor(m => m.Employee.ProductName, "", new { @class = "help-block" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Payroll Number", new { @class = "col-md-4 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Employee.PayrollNumber, new { @class = "form-control", @rows = 3 })
            @Html.ValidationMessageFor(m => m.Employee.PayrollNumber, "", new { @class = "help-block" })
        </div>
    </div>
  
    @if (!isEdit)
    {
        <div class="form-group">
            @Html.Label("Email", new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @rows = 3 })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "help-block" })
            </div>
        </div>
    }
    @Html.HiddenFor(m => m.EmployerId)
    @Html.HiddenFor(m => m.EmployerName)
    @Html.HiddenFor(m => m.Employee.EmployeeId)
</div>
