@using PayrollBureau.Extensions
@model PayrollBureau.Models.BaseViewModel
@{
    ViewBag.Title = "DashBoard";
}

<div class="row">
    <h2>@Model.EmployeeName</h2>
    <hr />
</div>

<div class="row">
    @if (User.IsSuperUser())
    {
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Bureaus", "Index", "Bureau")</li>
            <li>@Html.ActionLink(@Model.BureauName, "DashBoard", "Bureau", new { bureauId = @Model.BureauId }, null)</li>
            <li>@Html.ActionLink("Employers", "Index", "Employer", new { bureauId = @Model.BureauId }, null)</li>
            <li>@Html.ActionLink(@Model.EmployerName, "Dashboard", "Employer", new { employerId = @Model.EmployerId }, null)</li>
            <li>@Html.ActionLink("Employees", "Index", "Employee", new { bureauId = @Model.BureauId, employerId = @Model.EmployerId }, null)</li>
            <li>@Model.EmployeeName</li>
        </ol>
    }
    @if (User.IsBureau())
    {
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink(@Model.BureauName, "DashBoard", "Bureau", new { bureauId = @Model.BureauId }, null)</li>
            <li>@Html.ActionLink("Employers", "Index", "Employers", new { bureauId = @Model.BureauId }, null)</li>
            <li>@Html.ActionLink(@Model.EmployerName, "Dashboard", "Employer", new { employerId = @Model.EmployerId }, null)</li>
            <li>@Html.ActionLink("Employees", "Index", "Employee", new { bureauId = @Model.BureauId, employerId = @Model.EmployerId }, null)</li>
            <li>@Model.EmployeeName</li>
        </ol>
    }
    @if (User.IsEmployer())
    {
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink(@Model.EmployerName, "Dashboard", "Employer", new { employerId = @Model.EmployerId }, null)</li>
            <li>@Html.ActionLink("Employees", "Index", "Employee", new { bureauId = @Model.BureauId, employerId = @Model.EmployerId }, null)</li>
            <li>@Model.EmployeeName</li>
        </ol>
    }
</div>
<div class="row">
    @Html.Partial("_Payslips", Model)
</div>

<div class="row">
    @Html.Partial("_Documents", Model)
</div>
