@using PayrollBureau.Extensions
@model PayrollBureau.Models.BureauUsersViewModel
@{
    ViewBag.Title = $"{@Model.BureauName} : {@Model.User.Name}";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    <hr />
</div>
<div class="row">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @if (User.IsSuperUser())
        {
            <li>@Html.ActionLink("Bureaus", "Index", "Bureaus")</li>
        }
        <li>@Html.ActionLink(Model.BureauName, "Dashboard", "Bureau", new { bureauId = Model.BureauId }, null)</li>
        <li>@Html.ActionLink("Users", "Users", "BureauUsers", new { bureauId = Model.BureauId }, null)</li>
        <li data-menu="Users">@Model.User.Name</li>
    </ol>
</div>
@Html.Partial("_BureauUserEntry", Model, new ViewDataDictionary(this.ViewData) { { "mode", "view" } })

@section scripts
{
    <script type="text/javascript">
        $('#entryDiv :input').attr('disabled', 'disabled');
        $('#entryDiv [data-val-required]').removeAttr('data-val-required');
    </script>
}