@using PayrollBureau.Extensions

@model PayrollBureau.Models.BaseViewModel

@{
    ViewBag.Title = "PayrollBureau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @if (User.IsSuperUser())

    {
        <h2>Welcome to Payroll Bureau </h2>
    }
    @if (User.IsBureau())
    {
        <h2>@Model.BureauName </h2>
    }
    @if (User.IsEmployer())
    {
        <h2>@Model.EmployerName </h2>
    }
    <hr />
</div>
<div class="row">
    <ol class="breadcrumb">
        <li>Home</li>
    </ol>

    @if (User.IsSuperUser())
    {
        @Html.Partial("_SuperAdminDashboard")
    }
    @if (User.IsEmployer())
    {
        @Html.Partial("_EmployerDashboard", Model)
    }
    @if (User.IsBureau())
    {
        @Html.Partial("_BureauDashboard", Model)
    }

</div>